*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html{
    font-size: 62.5%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-size: 2rem;
    background: #fef7f6;
}

/* ==Navigation============================== */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem;
    max-width: 107rem;
    width: 100%;
    margin: auto;
}

.menu{
    display: flex;
}

.menu li a{
    padding: 0.3rem 1rem;
    margin: 0rem 1.5rem;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.05rem;
    transition: all ease 0.3s;
}

.logo{
    font-size: 5.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #202020;
    font-family: 'Dancing Script', cursive;
}

.right-nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2.5rem;
}

.right-nav a{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.right-nav .like{
    background-color: #fce9e7;
    color: #ff6c57;
}

.right-nav .cart{
    background-color: #fce9e7;
    color: #ff6c57;
}

.right-nav a span{
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    background-color: #202020;
}

.menu li a:hover, .menu .active{
    color: #ff6c57;
    transition: all ease 0.3s;
}


/* ==Search Banner============================== */
#search-banner{
    max-width: 125rem;
    height: 50rem;
    border-radius: 3rem;
    background-color: #fce9e7;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100rem;
    background-position: bottom right;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.ring-1{
    position: absolute;
    left: 80rem;
    top: 8rem;
    width: 35rem;
    height: 35rem;
    object-fit: contain;
    object-position: center;
}

.search-banner-text{
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-left: 7rem;
    position: relative;
}

.search-banner-text h1{
    font-size: 4.8rem;
    line-height: 5.5rem;
    color: #202020;
}

.search-banner-text strong{
    color: #ff6c57;
    font-size: 2rem;
    margin-top: 0.4rem;
}

.search-box{
    background-color: #ffffff;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    padding: 0rem 0.5rem 0rem 2rem;
    border-radius: 3rem;
}

.search-box i{
    font-size: 2rem;
    color: #3b3b3b;
    margin: 0rem 1rem;
}

.search-box .search-input{
    height: 4rem;
    border: none;
    width: 100%;
    padding: 0rem 1rem;
    outline: none;
}

.search-box .search-btn{
    width: 22rem;
    height: 4rem;
    border-radius: 3rem;
    background-color: #ff6c57;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.search-box .search-btn:hover{
    background-color: #fd998a;
    transition: all ease 0.3s;
}

/* ==New products============================== */

.section--first{
    min-height:45rem;
}

.section--first strong{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff6c57;
    font-size: 1.5rem;
    margin-top: 0.4rem;
}

.new-products-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6.7rem;
    font-size: 3.5rem;
    font-weight: 500;
    color: #202020;
}

.new-products{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4rem;
    width: 100%;
}

.new-product{
    width: 28.1rem;
    height: 30rem;
    box-shadow: 0 0.1rem 1rem 0.5rem #fce9e7,
    inset 0 -1rem 1rem -1rem rgba(0,0,0,0.1);
    list-style: none;
    padding: 5rem;
    border-radius: 3rem;
    position: relative;
}


.new-product:hover{
    cursor: pointer;
}

.new-product::after{
    content:"NEW";
    background: #ff6d57cf;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: absolute;
    border-radius: 4rem;
    top: 1rem;
    left: 5%;
}
.new-product > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ==Sale============================== */

.section--second{
    height:80rem;
}

.sales{
    display:flex;
    justify-content: center;
    align-items: center;
}

.sale{
    height: 35rem;
    max-width: 125rem;
    margin-top: 25rem;
    background: #fce9e7;
    border-radius: 3rem;
    width:100%;
}

